* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nexa", sans-serif;
}
img {
  height: 100%;
  width: 100%;
  background-size: contain;
  object-fit: contain;
}
select,
input:focus {
  outline: none;
}
a {
  text-decoration: none;
}
.header {
  height: 8vh;
  width: 100%;
  background-color: grey;
}
.container {
  /* max-width: 1500px; */
  width: 100%;
  height: 100vh;
  /* border: 1px solid red; */
  box-sizing: border-box;
  overflow: auto;
}
.body {
  display: flex;
  height: 92vh;
  width: 100%;
}
.profile {
  width: 25%;
  /* height: 100%; */
  /* border: 1px solid red; */
  margin-right: 1rem;
  background-color: rgba(0, 0, 0, 0.863);
}
.profile-photo {
  display: flex;
  flex-direction: column;
  height: 25vh;
  width: 100%;
  /* border: 1px solid red; */
  align-items: center;
  color: white;
  padding-top: 1.5rem;
  /* gap: 1rem; */
}
.profile-photo-img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}
.profile-photo-img img {
  border-radius: 50%;
}
.profile-photo h3 {
  color: white;
  margin-top: 1rem;
}
.profile-options {
  position: relative;
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
  width: 100%;
  height: 67vh;
  /* height: 100%; */
  /* border: 1px solid white; */
  padding: 1rem;
  font-weight: 600;
}

.profile-options-items {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  width: 100%;
  /* border: 1px solid red; */
  margin-bottom: 0.6rem;
}
.bx {
  color: grey;
  font-size: 2rem;
}
.profile-options div:nth-child(11) {
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: left;
}
.profile-options div:nth-child(11) .bx {
  margin-right: 1rem;
}
.account {
  height: 100%;
  width: 75%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  padding: 0 3%;
  /* justify-content: center; */
  /* align-items: center; */
}
.account-edit-img {
  margin: 1rem auto;
  position: relative;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  /* border: 1px solid   red; */
}
.account-edit-img img {
  border-radius: 50%;
}
.account-edit-img a {
  position: absolute;
  bottom: 0;
  right: 1rem;
  z-index: 20;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: rgb(15, 172, 15);
}
.account-edit-img a .bx {
  color: white;
  font-size: 1.5rem;
}
.account-input {
  width: 100%;
  margin-top: 1rem;
}
.account-input input {
  width: 100%;
  padding: 0.5rem;
  height: 3rem;
  border-radius: 10px;
  border: 1px solid grey;
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: 18px;
}
.account-btn {
  font-weight: 600;
  font-size: 20px;
  height: 3rem;
  border: none;
  background-color: green;
  border-radius: 10px;
  color: white;
  margin-top: 2rem;
}
